@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1em;

}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1em;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  gap: 1em;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  gap: 1em;
  background-color: #eeeeee;
}

a {
  text-decoration: 0;
  color: rgb(103, 103, 103);
}