.odd-number {
    background-color: #fc7f98;
    font-family: "Verdana", "DejaVu Sans", sans-serif;
}

#second {
    color: #0000ff;
    font-size: 36px;
}

#fourth {
    background-color: #8ff58f;
    font-size: 24px;
    font-weight: bold;
}

.third {
    font-size: 24px;
}
